* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header>h1 {
    color: #bababa;
    padding-top: 5vh;
}

body {
    min-height: 100vh;
    background-color: #010101;
    font: normal 15pt Arial;
    overflow: hidden;
}

header {
    color: black;
    text-align: center;
}


.turno {
  padding-left: 38px;
  font-weight: bold;
}

.container {
    gap: 20px;
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    min-width: 200vh;
}



.horaDigital, .minutoDigital {
    background-color: #101010;
    height: 30vh;
    width: 25vh;
    align-content: center;
    border-radius: 20px;
}


.hora, .minuto {
    text-align: center;
    font-size: 18vh;
}

.containerAnalogico {
    position: absolute;
    background: #101010;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    /* left: 100vw; */
    transition: transform 1.5s ease;
    transform: translateX(100vw);
}


.containerDigital {
    gap:20px;
    position: absolute;
    left: 0; /* Mantém na primeira tela */
    width: 100vw; /* Ocupa toda a largura visível */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bababa;
    transition: transform 1.5s ease;
    /* transform: translateX(-100vw); */
}


  .horaAnal {
    position: absolute;
    top: 50%; 
    left: 50%; 
    background-color: #bababa;
    width: 10vh;
    height: 1vh;
    border-radius: 20px;
    transform-origin: 0% 50%;
    /* transform: rotate(360deg);  */
    /* transition: transform 3600s ease; */
  }

  .minutoAnal {
    position: absolute;
    top: 50%; 
    left: 50%; 
    background-color: #bababa;
    width: 15vh;
    height: 1vh;
    border-radius: 20px;
    transform-origin: 0% 50%;
    /* transform: rotate(360deg);  */
    /* transition: transform 60000ms ease; */
  } 

  .segundoAnal {
    position: absolute;
    top: 50%; 
    left: 50%; 
    background-color: #f87575;
    width: 20vh;
    height: 0.5vh;
    border-radius: 20px;
    transform-origin: 0% 50%;
    /* transform: rotate(360deg);  */
    /* transition: transform 1000ms ease; */
  }

  .contAnt, .contProx {
    position: absolute;
    top: 36vh;
  }

  .contAnt {
      right: 95%;
    }
    
    .contProx {
      left: 92%;
  }

  .antPainel, .proxPainel {
    position: fixed;
    color: #bababa;
    background-color: transparent;
    border: none;
    font: normal 40pt Impact;
    cursor: pointer;

    & :hover {
      color: white;
      font-weight: bolder;
    }
  }

  .numHorizontal, .numVertical {
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font: normal 20pt Arial;
      color: #bababa;
      margin: 20px;
      font-weight: bold;
      
    }
  }

  .numHorizontal {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .numVertical {
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
  }
 
  

  footer {
    text-align: center;
    color: #bababa88;
    font-style: italic;
    font-size: 18px;
  }
